.row{
  display: flex;
  .title{
    line-height: 32px;
    width: 100px;
    .content{
      flex: 1;
    }
  }
}
.buttons {
  padding-top: 20px;
  margin-top: 20px;
  border: 1px dashed #ccc;
  text-align: center;

  .reset {
    margin-left: 20px;
  }
}